
<div class="hero">
  <h1>Hello Witches</h1>
  <p>You are a witch.</p>
</div>

<div class="row">
  <div class="col-xs-4">

    <%= image_tag "witch-hat.jpg", class: "witch-hat img-responsive"%>
  </div>
</div>
